@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
<<<<<<< HEAD
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
=======
  background-color: rgb(26, 21, 21);
>>>>>>> 8e1bcfe54294c7225fabeab498cd768e9bf2ac25
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
